* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25vw;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1.7rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}

form {
    width: 95%;
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.inp input:focus {
    outline: none;
}

.inp {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border: 0.8px solid black;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.inp input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.7rem;
    padding-right: 0.5rem;
    font-size: 0.9rem;
}

label p {
    padding-left: 6px;
    font-size: 0.9rem;
}

button {
    width: 100%;
    height: 3rem;
    background-color: #081b31;
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-top: 0.8rem;
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
}

.focus {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    transform: scale(0.98);
}

.signup p {
    display: inline;
}

.signup a {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

.hide {
    display: none;
}
